.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #1565c0;
  width: 100%;
}

.navigation-button {
  padding: 1rem 1.25rem;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

.li {
  float: left;
}

.li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover:not(.active) {
  background-color: #90caf9;
}

.active {
  background-color: #04aa6d;
}
