/*.box{
    display: inline;
    margin: 50px;
}

html body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;

}
*/

body {
    background: white;
    color: black;
}

/*
.typography {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: auto;
    line-height: 1.4em;
}
*/

.container {
    display: grid;
    width: 80vw;
    margin: auto;
    /*grid-template-columns: 60vw 15vw;
    grid-template-rows: 60vh 30vh;*/
    grid-gap: 25px;
    grid-template-areas: 
    "top top"
    "bottomLeft bottomRight";
    border: 2px solid black;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
    padding: 15%;
}

#one {
    grid-area:top;

}

#two {
    grid-area:bottomLeft;
  
}

#three {
    grid-area:bottomRight;
}

.norway-image {
   height: 300px;
   width: auto;
}