@import url("styles/card.css");

.box{
    display: inline;
    margin: 50px;
}

html body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;

}

body {
    background: white;
    color: black;
}

.typography {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: auto;
    line-height: 1.4em;
}

.container {
    display: grid;
    width: 80vw;
    margin: auto;
  /*  grid-template-columns: 50vw 50vw;
    grid-template-rows: 60vw 50vw 60vw;*/
    grid-template-areas: 
    "top top"
    "middleLeft middleRight"
    "bottom bottom";
    border: 2px solid black;
    justify-content: center;  
    padding: 0%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 3px solid blue;*/
    padding: 0%;
}

#one {
    grid-area: top;
    background-image: url(Images/iceland1.jpg);
    background-blend-mode: multiply;
    background-size: cover ;

}

#two {
    grid-area: middleLeft;
    background-image: url(Images/southafric.jpg);
    background-blend-mode: multiply;
    background-size: cover ;
    padding: 0%;
}

#three {
    grid-area: middleRight;
}

#four {
    grid-area: bottom;
}

