.box{
    display: inline;
    margin: 50px;
}

body {
    background: #444 ;
    color: #ffffff;
}

.typography {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: auto;
    line-height: 1.4em;
}

.container {
    display: grid;
    width: 80vw;
    height: 100vw;
    margin: auto;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 60vw 50vw 60vw;
    grid-template-areas: 
    "top top"
    "middleLeft middleRight"
    "bottom bottom";
    border: 2px solid black;
    justify-content: center;
    padding: 10%;

}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
    padding: 15px;
}

#one {
    grid-area: top;
}

#two {
    grid-area: middleLeft;
}

#three {
    grid-area: middleRight;
}

#four {
    grid-area: bottom;
}