@import url("styles/card.css");
@import url("styles/form.css");
@import url("styles/body.css");
@import url("styles/header.css");
@import url("styles/nav.css");
@import url("styles/main.css");
@import url("styles/photos.css");
@import url("styles/footer.css");
@import url("styles/universal.css");

body {
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

main {
  grid-gap: 25px;
  grid-template-areas:
    "top top"
    "middleLeft middleRight"
    "bottom bottom";
}

.card-iceland {
  grid-area: top;
}

.card-southafrica {
  grid-area: middleLeft;
}

.card-alaska {
  grid-area: middleRight;
}

.card-norway {
  grid-area: bottom;
}

p {
  /*flex-grow: 1;
        width: 50%;
        min-height: 100px;
        */
  max-width: 100%;
  max-height: 100px;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  body {
    grid-auto-rows: minmax(min-content, auto);
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "footer";
  }

  main {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding: 10px;
    grid-template-areas:
      "top"
      "middleLeft"
      "middleRight"
      "bottom";
    grid-gap: 10px;
  }
}
