@import url("../styles/card.css");
@import url("../styles/form.css");
@import url("../styles/body.css");
@import url("../styles/header.css");
@import url("../styles/nav.css");
@import url("../styles/main.css");
@import url("../styles/photos.css");
@import url("../styles/footer.css");
@import url("../styles/universal.css");


@media only screen and (max-width: 1005px) {
  .open-button {
    position: static;
    font-size: 100%;
  }
}

body {
  display: grid;
  gap: 0;
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "header header header header header header header"
    "main main main main main main aside"
    "footer footer footer footer footer footer footer";
}

.photos-container {
    size: 10%;
}


aside {
  grid-area: aside;
  background-color: #1565c0;
  padding: 20px;
}


.avatar {
  width: 140px;
  height: 140px;
  background-image: url(../../images/me1.jpg);
  background-size: cover;
  border-radius: 25%;
}

@media only screen and (max-width: 1200px) {
  body {
    grid-auto-rows: minmax(min-content, auto);
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "aside"
      "aside"
      "footer";
  }

@media only screen and (max-width: 480px) {
  main {
    padding: 10px;
    grid-gap: 10px;
  }
}