@import url("styles/card.css");
@import url("styles/form.css");
@import url("styles/body.css");
@import url("styles/header.css");
@import url("styles/nav.css");
@import url("styles/main.css");
@import url("styles/photos.css");
@import url("styles/footer.css");
@import url("utilities/universal.css");

body {
  display: grid;
  gap: 0;
  grid-auto-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.form-popup {
  right: 25px;
}

main {
  grid-gap: 25px;
  grid-template-areas:
    "top top"
    "middleLeft middleRight"
    "bottom bottom";
}

.card-iceland {
  grid-area: top;
}

.card-southafrica {
  grid-area: middleLeft;
}

.card-alaska {
  grid-area: middleRight;
}

.card-norway {
  grid-area: bottom;
}

@media only screen and (max-width: 600px) {
  body {
    grid-auto-rows: minmax(min-content, auto);
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "footer";
  }

  main {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding: 10px;
    grid-template-areas:
      "top"
      "middleLeft"
      "middleRight"
      "bottom";
    grid-gap: 10px;
  }
}
