

.card {
		
    border: 1px solid grey;
    background: #BBDEFB;
    border-radius: 5px;
    padding: 10px;
    
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: stretch;
}


.card-content {
    
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}