.open-button {
  background-color: #1565c0;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 61px;
  right: 28px;
  width: 150px;
  font-size: 110%;
  font-weight: 200;
}

.open-button:hover {
  background-color: #04aa6d;
}

@media only screen and (max-width: 810px) {
  .open-button {
    position: static;
    font-size: 100%;
  }
}

.form-popup {
  display: none;
  position: fixed;
  top: 60;
  right: 28px;
  border: 2px solid black;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #1565c0;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
