header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "top top"
    "bottom bottom";
}

.box-nav {
  grid-area: top;
  text-align: center;
}

.box-title {
  grid-area: bottom;
  text-align: center;
  text-decoration: underline;
}
